body {
  margin: 0;
  font-family: "JetBrains Mono", monospace;
}

.text-center {
  text-align: center;
}

.centered {
  width: 100%;
  margin-top: 10px;
  display: grid;
  place-items: center;
}

/* COMMON COMP FOR BOTH USERS */
.users {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 250px;
}

.bedroom-container,
.Kitchen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 350px;
  border: 2px solid black;
  border-radius: 10px;
}

/* LIGHTS */
.bedroom,.kitchen
{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 10px 0;
}

/* BOTH BUTTONS - BOTH ON/OFF */
.Both-btns {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

/* GLOBAL BUTTONS - ALL ON/OFF */
.global-btns {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 55px;
}

/* TOGGLE SWITCH STYLE */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 40px;
  cursor: pointer;
}

.toggle-switch input[type="checkbox"] {
  display: none;
}

.toggle-switch-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ddd;
  border-radius: 20px;
  box-shadow: inset 0 0 0 2px #ccc;
  transition: background-color 0.3s ease-in-out;
}

.toggle-switch-handle {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.toggle-switch::before {
  content: "";
  position: absolute;
  top: -25px;
  right: -35px;
  font-size: 12px;
  font-weight: bold;
  color: #aaa;
  text-shadow: 1px 1px #fff;
  transition: color 0.3s ease-in-out;
}

.toggle-switch input[type="checkbox"]:checked+.toggle-switch-handle {
  transform: translateX(45px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 0 3px #05c46b;
}

.toggle-switch input[type="checkbox"]:checked+.toggle-switch-background {
  background-color: #05c46b;
  box-shadow: inset 0 0 0 2px #04b360;
}

.toggle-switch input[type="checkbox"]:checked+.toggle-switch:before {
  content: "On";
  color: #05c46b;
  right: -15px;
}

.toggle-switch input[type="checkbox"]:checked+.toggle-switch-background .toggle-switch-handle {
  transform: translateX(40px);
}

/* COMMON BUTTON STYLES */

.Common-button {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px, rgba(45, 35, 66, 0.15) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.Common-button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.Common-button:hover {
  box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.Common-button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

/*for small devices (768px and smaller) */
@media (max-width: 768px) {

  body{
    padding-bottom: 50px;
  }
  .users {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

}

/* for screens between 769px and 990px */
@media (min-width: 769px) and (max-width: 990px) {
  .users {
    gap: 80px;
  }
}
